DJANGO_SETTINGS_MODULE=oire.settings.development
DJANGO_SECRET_KEY=xm^#p)k*4uz7&m)vdqoc4nru0_^50531t_447d0yt=k791*+rl
DJANGO_DEBUG=True
DB_NAME=oire
DB_USER=oire
DB_PASSWORD=erio
DB_HOST=localhost
DB_PORT=