{% extends "shared/management.html" %}
{% block page %}Semesters{% endblock %}
{% block pagecontent %}
<div class="pull-right">
<a href="{% url 'new_semester' %}" type="button" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add semester</a>
</div>
<table class="table table-hover">
	<thead>
	<tr>
		<th>Season</th>
		<th>Year</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	</thead>
	   {% for semester in object_list %}
         <tr>
           <td>{{ semester.season }}</td>
           <td>{{ semester.year }}</td>
           <td>
           {% for evaluation in semester.evaluation_set.all %}
           	<a href="#" type="button" class="btn btn-primary btn-xs">{{ evaluation.name }}</a><br>
           {% empty %}
           	<a href="#" type="button" class="btn btn-danger btn-xs">No Evaluations</a>
           {% endfor %}
           </td>
           <td><a href="{% url 'semester_edit' semester.id %}" ><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
           <!-- <td><a href="{% url 'semester_delete' semester.id %}" ><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td> -->
  		 </tr>
       {% endfor %}
	<tbody>

	</tbody>
</table>
    {% include "shared/pagination.html" %}
{% endblock %}