{% extends "shared/management.html" %}
{% block page %}Users{% endblock %}
{% block pagecontent %}
<div class="pull-right">
<a href="{% url 'new_user' %}" type="button" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add user</a>
</div>

<table class="table table-hover">
	<thead>
	<tr>
		<th>Name(s)</th>
		<th>Email</th>
        <th>School</th>
		<th>Username</th>
		<th>Group(s)</th>
		<th>Last Login</th>
		<th></th>
	</tr>
	</thead>
	   {% for user in object_list %}
         <tr>
           <td>{{ user.first_name }} {{ user.last_name }}</td>
           <td>{{ user.email }}</td>
           <td>{{ user.school.school }}</td>
           <td>{{ user.username }}</td>
           <td>{% for group in user.groups.all %}
           			<span class="label label-info">{{ group.name }}</span>
           		{% endfor %}
           </td>
           <td>{{ user.last_login}}</td>
           <td><a href="{% url 'user_edit' user.id %}" ><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
           
  		 </tr>
       {% endfor %}
	<tbody>
		
	</tbody>
</table>
{% include "shared/pagination.html" %}
{% endblock %}