<footer class="footer">
    <div class="container">
        <p class="text-muted">
            Made with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> by <a href="{% url 'credits' %}">The FCE Team</a>
            The <a class="icon" href="https://github.com/skaex/oire">
                        source code
                    </a> is licensed
                    <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/">CC BY-NC-ND 3.0</a>.

                    </p>
    </div>
</footer>