{% extends "shared/base.html" %}
{% load navigation %}
{% block title %}Management | FCE{% endblock %}
{% block content %}
<div class="container">
{% include "shared/messages.html" %}
	<div class="page-header">
        <h4 id="buttons">Management | {% block page %} {% endblock %} </h4>
    </div>
	<div class="row">
		<div class="col-md-2">
			<ul class="nav nav-pills nav-stacked text-right">
                <li role="presentation" class="{% active 'sections' %}"><a href="{% url 'section_list' %}">Sections</a></li>
			  <li role="presentation" class="{% active 'courses' %}"><a href="{% url 'course_list' %}">Courses</a></li>
			  <li role="presentation" class="{% active 'questionsets' %}"><a href="{% url 'questionset_list' %}">Question Sets</a></li>
			  <li role="presentation" class="{% active 'evaluations' %}"><a href="{% url 'evaluation_list' %}">Evaluations</a></li>
			  <li role="presentation" class="{% active 'semesters' %}"><a href="{% url 'semester_list' %}">Semesters</a></li>
			  <li role="presentation" class="{% active 'schools' %}"><a href="{% url 'school_list' %}">Schools</a></li>
			  <li role="presentation" class="{% active 'users' %}"><a href="{% url 'user_list' %}">Users</a></li>
			  <!-- <li role="presentation" class="{% active 'questions' %}"><a href="{% url 'question_list' %}">Questions</a></li> -->
			</ul>
		</div>
		<div class="col-md-10">
		{% block pagecontent %} {% endblock %}
		</div>
	</div>
</div>
{% endblock %}