{% extends "shared/management.html" %}
{% block page %}Schools{% endblock %}
{% block pagecontent %}
<div class="pull-right">
<a href="{% url 'new_school' %}" type="button" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add school</a>
</div>
<table class="table table-hover">
	<thead>
	<tr>
		<th>School</th>
		<th>Description</th>
		<th></th>
		<th></th>
	</tr>
	</thead>
	   {% for school in object_list %}
         <tr>
           <td>{{ school.school }}</td>
           <td>{{ school.description }}</td>
           <td><a href="{% url 'school_edit' school.id %}" ><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
           <!-- <td><a href="{% url 'school_delete' school.id %}" ><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td> -->
  		 </tr>
       {% endfor %}
	<tbody>

	</tbody>
</table>
    {% include "shared/pagination.html" %}
{% endblock %}